.content-list1-container {
  width: 1479px;
  height: 1106px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-theme-primary1);
}
.content-list1-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.content-list1-content {
  align-self: stretch;
  align-items: flex-start;
}
.content-list1-ul {
  width: 1523px;
  align-items: flex-start;
}
.content-list1-li {
  width: 1258px;
  height: 233px;
  font-size: 25px;
}
.content-list1-heading1 {
  fill: var(--dl-color-theme-accent2);
  color: #497eff;
  font-size: 35px;
  align-self: flex-start;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
}
.content-list1-content1 {
  font-size: 30px;
  text-align: left;
  font-family: "Poppins";
}
.content-list1-heading3 {
  fill: var(--dl-color-theme-accent2);
  color: #497eff;
  font-size: 30px;
  font-family: "Poppins";
}
.content-list1-content3 {
  width: 1344px;
  font-size: 30px;
  text-align: left;
  font-family: "Poppins";
}
.content-list1-heading4 {
  fill: var(--dl-color-theme-accent2);
  color: #497eff;
  font-size: 30px;
  font-family: "Poppins";
}
.content-list1-content4 {
  width: 1325px;
  height: 505px;
  font-size: 30px;
  text-align: left;
  font-family: "Poppins";
}
