<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Itcham Akak Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="shortcut icon"
      href="public/itcham akak logo with slogan june 20241.png"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./features4.css" rel="stylesheet" />
      <div class="features4-layout301 thq-section-padding">
        <div class="features4-max-width thq-section-max-width">
          <h2 class="features4-text thq-heading-2">
            <span>Our Programs</span>
          </h2>
          <div class="features4-row thq-grid-auto-300">
            <div class="features4-feature1">
              <img
                alt="Image of children receiving food aid"
                src="public/screenshot%202024-07-01%20at%205.43.31%C3%A2%C2%80%C2%AFpm-600w.png"
                class="features4-img1 thq-img-ratio-4-3"
              />
              <div class="features4-content thq-flex-column">
                <div class="features4-section-title thq-flex-column">
                  <h3 class="features4-title1 thq-heading-3">
                    <span>Food Aid</span>
                  </h3>
                  <span class="features4-description1 thq-body-small">
                    <span>
                      Food justice is vital for children's development. By
                      gathering donations, we fight against hunger. Come
                      alongside us to connect donors with those who require
                      assistance. Together, we can create a community where
                      every child has access to nutritious meals and the
                      opportunity to thrive. Your contribution, no matter how
                      small, makes a significant impact. Let's build a future
                      where food insecurity is a thing of the past, and every
                      young mind is fueled for success. Join us in this mission
                      and be a beacon of hope and support for families in need.
                    </span>
                  </span>
                </div>
                <div class="features4-action thq-flex-row">
                  <button class="thq-button-flat">
                    <a
                      href="pagenotfound.html"
                      target="_blank"
                      rel="noreferrer noopener"
                      class="features4-action1 thq-body-small"
                    >
                      <span>Learn More</span>
                    </a>
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M426 256l256 256-256 256-60-60 196-196-196-196z"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div class="features4-feature2">
              <img
                alt="Image of school supplies being distributed"
                src="public/screenshot%202024-07-01%20at%205.46.10%C3%A2%C2%80%C2%AFpm-600w.png"
                class="thq-img-ratio-4-3"
              />
              <div class="features4-content1 thq-flex-column">
                <div class="features4-section-title1 thq-flex-column">
                  <strong class="features4-title2 thq-heading-3">
                    <span>School Supplies</span>
                  </strong>
                  <span class="features4-description2 thq-body-small">
                    <span>
                      Our project focuses on providing school supplies to
                      support the education of disadvantaged children. Education
                      is key to empowering communities by equipping individuals
                      with essential knowledge, skills, and abilities to
                      positively impact community development. Education also
                      nurtures critical thinking, problem-solving, and
                      decision-making skills. By ensuring that every child has
                      access to the necessary tools for learning, we aim to
                      bridge the gap between potential and opportunity. School
                      supplies such as notebooks, pens, pencils, and textbooks
                      are fundamental resources that many take for granted but
                      are indispensable for a child's academic journey.
                    </span>
                  </span>
                </div>
                <div class="features4-action1 thq-flex-row">
                  <button class="thq-button-flat">
                    <a
                      href="pagenotfound.html"
                      target="_blank"
                      rel="noreferrer noopener"
                      class="features4-action2 thq-body-small"
                    >
                      <span>Discover More</span>
                    </a>
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M426 256l256 256-256 256-60-60 196-196-196-196z"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div class="features4-feature4">
              <img
                alt="Image of community members participating in empowerment activities"
                src="public/screenshot%202024-07-01%20at%205.50.37%C3%A2%C2%80%C2%AFpm-600w.png"
                class="thq-img-ratio-4-3"
              />
              <div class="features4-content2 thq-flex-column">
                <div class="features4-section-title2 thq-flex-column">
                  <strong class="features4-title4 thq-heading-3">
                    <span>Volunteer Service</span>
                  </strong>
                  <span class="features4-description4 thq-body-small">
                    <span>
                      Our volunteers work together to create a meaningful
                      impact. Come and witness the power of a dedicated team
                      striving for positive change. We offer school supplies and
                      food assistance to underprivileged children. By joining
                      our volunteer service, you'll become part of a
                      compassionate network of individuals committed to making
                      the world a better place. Together, we can build stronger,
                      more resilient communities and inspire hope for a brighter
                      tomorrow. Join us today and be the change you wish to see
                      in the world.
                    </span>
                  </span>
                </div>
                <div class="features4-action2 thq-flex-row">
                  <button class="thq-button-flat">
                    <a
                      href="https://forms.office.com/r/L3tiS7VLGb?origin=lprLink"
                      target="_blank"
                      rel="noreferrer noopener"
                      class="features4-action4 thq-body-small"
                    >
                      <span>Get Involved</span>
                    </a>
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M426 256l256 256-256 256-60-60 196-196-196-196z"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
