.gallery4-gallery3 {
  width: 1793px;
  height: 956px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
.gallery4-max-width {
  gap: var(--dl-space-space-threeunits);
  top: -21px;
  left: 194px;
  width: 1431px;
  height: 971px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
.gallery4-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery4-container {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.gallery4-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.gallery4-container1 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery4-image1 {
  width: 100%;
  height: 904px;
  max-width: 100%;
  align-self: center;
}
.gallery4-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gallery4-image2 {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
.gallery4-image3 {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
