<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Itcham Akak Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./pricing10.css" rel="stylesheet" />
      <div class="pricing10-pricing23 thq-section-padding">
        <div class="pricing10-max-width thq-section-max-width">
          <div class="pricing10-section-title">
            <div class="pricing10-content">
              <h2 class="pricing10-text thq-heading-2">
                <span>Compare pricing plans</span>
              </h2>
              <p class="pricing10-text01 thq-body-large">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </span>
              </p>
            </div>
          </div>
          <div class="pricing10-content1">
            <div class="pricing10-container"></div>
            <div class="pricing10-column1">
              <div class="pricing10-price">
                <div class="pricing10-price1">
                  <p class="pricing10-text02 thq-body-large">
                    <span>Basic</span>
                  </p>
                  <h3 class="pricing10-text03 thq-heading-3">
                    <span>$20/mo</span>
                  </h3>
                  <p class="pricing10-text04 thq-body-large">
                    <span>or $200 yearly</span>
                  </p>
                </div>
              </div>
              <button
                class="pricing10-button thq-button-outline thq-button-animated"
              >
                <span class="thq-body-small"><span>Get started</span></span>
              </button>
            </div>
            <div class="pricing10-column2">
              <div class="pricing10-price2">
                <div class="pricing10-price3">
                  <p class="pricing10-text06 thq-body-large">
                    <span>Business</span>
                  </p>
                  <h3 class="pricing10-text07 thq-heading-3">
                    <span>$20/mo</span>
                  </h3>
                  <p class="pricing10-text08 thq-body-large">
                    <span>or $200 yearly</span>
                  </p>
                </div>
              </div>
              <button
                class="pricing10-button1 thq-button-filled thq-button-animated"
              >
                <span class="thq-body-small"><span>Get started</span></span>
              </button>
            </div>
            <div class="pricing10-column3">
              <div class="pricing10-price4">
                <div class="pricing10-price5">
                  <p class="pricing10-text10 thq-body-large">
                    <span>Enterprise</span>
                  </p>
                  <h3 class="pricing10-text11 thq-heading-3">
                    <span>$20/mo</span>
                  </h3>
                  <p class="pricing10-text12 thq-body-large">
                    <span>or $200 yearly</span>
                  </p>
                </div>
              </div>
              <button
                class="pricing10-button2 thq-button-filled thq-button-animated"
              >
                <span class="thq-body-small"><span>Get started</span></span>
              </button>
            </div>
          </div>
          <div class="pricing10-container01">
            <div class="pricing10-content2">
              <h3 class="thq-heading-3"><span>Feature Category</span></h3>
            </div>
            <div class="pricing10-container02">
              <div class="pricing10-container03">
                <span class="thq-body-small">
                  <span>Feature description goes here.</span>
                </span>
              </div>
              <div class="pricing10-container04">
                <span class="pricing10-text16 thq-body-small">
                  <span>5</span>
                </span>
              </div>
              <div class="pricing10-container05">
                <span class="thq-body-small"><span>10</span></span>
              </div>
              <div class="pricing10-container06">
                <span class="pricing10-text18 thq-body-small">
                  <span>Unlimited</span>
                </span>
              </div>
            </div>
            <div class="pricing10-container07">
              <div class="pricing10-container08">
                <span class="thq-body-small">
                  <span>Feature description goes here.</span>
                </span>
              </div>
              <div class="pricing10-container09">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container10">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container11">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="pricing10-container12">
              <div class="pricing10-container13">
                <span class="thq-body-small">
                  <span>Feature description goes here.</span>
                </span>
              </div>
              <div class="pricing10-container14">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container15">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container16">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="pricing10-container17">
              <div class="pricing10-container18">
                <span class="thq-body-small">
                  <span>Feature description goes here.</span>
                </span>
              </div>
              <div class="pricing10-container19">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container20">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container21">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="pricing10-container22">
              <div class="pricing10-container23">
                <span class="thq-body-small">
                  <span>Feature description goes here.</span>
                </span>
              </div>
              <div class="pricing10-container24">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container25">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container26">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
          <div class="pricing10-container27">
            <div class="pricing10-content21">
              <h3 class="thq-heading-3"><span>Feature Category</span></h3>
            </div>
            <div class="pricing10-container28">
              <div class="pricing10-container29">
                <span class="thq-body-small">
                  <span>Feature description goes here.</span>
                </span>
              </div>
              <div class="pricing10-container30">
                <span class="pricing10-text25 thq-body-small">
                  <span>20</span>
                </span>
              </div>
              <div class="pricing10-container31">
                <span class="thq-body-small"><span>100</span></span>
              </div>
              <div class="pricing10-container32">
                <span class="pricing10-text27 thq-body-small">
                  <span>Unlimited</span>
                </span>
              </div>
            </div>
            <div class="pricing10-container33">
              <div class="pricing10-container34">
                <span class="thq-body-small">
                  <span>Feature description goes here.</span>
                </span>
              </div>
              <div class="pricing10-container35">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container36">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container37">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="pricing10-container38">
              <div class="pricing10-container39">
                <span class="thq-body-small">
                  <span>Feature description goes here.</span>
                </span>
              </div>
              <div class="pricing10-container40">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container41">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container42">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="pricing10-container43">
              <div class="pricing10-container44">
                <span class="thq-body-small">
                  <span>Feature description goes here.</span>
                </span>
              </div>
              <div class="pricing10-container45">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container46">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container47">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="pricing10-container48">
              <div class="pricing10-container49">
                <span class="thq-body-small">
                  <span>Feature description goes here.</span>
                </span>
              </div>
              <div class="pricing10-container50">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container51">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                  ></path>
                </svg>
              </div>
              <div class="pricing10-container52">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
