.pricing8-pricing23 {
  width: 100%;
  height: 729px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #ffffff;
}
.pricing8-max-width {
  gap: var(--dl-space-space-threeunits);
  height: 769px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
.pricing8-content {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  border-color: #fffefe;
  border-style: dashed;
  border-width: 2px;
  flex-direction: column;
}
.pricing8-row {
  height: 595px;
  align-items: flex-start;
}
.pricing8-feature1 {
  flex: 1;
}
.pricing8-feature1-image {
  width: 280px;
  height: 265px;
  align-self: center;
}
.pricing8-feature1-title {
  color: #497eff;
  font-size: 30px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
}
.pricing8-content1 {
  align-self: stretch;
  align-items: flex-start;
}
.pricing8-feature1-description {
  font-size: 25px;
  align-self: center;
  text-align: center;
  font-family: "Poppins";
}
.pricing8-feature2 {
  flex: 1;
}
.pricing8-feature2-image {
  width: 262px;
  height: 263px;
  align-self: center;
}
.pricing8-feature2-title {
  color: #497eff;
  font-size: 30px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  text-transform: uppercase;
}
.pricing8-content2 {
  align-self: stretch;
  align-items: flex-start;
}
.pricing8-feature2-description {
  font-size: 25px;
  align-self: center;
  text-align: center;
  font-family: "Poppins";
}
.pricing8-feature3 {
  flex: 1;
  border-color: #ffffff;
  border-width: 1px;
}
.pricing8-feature3-image {
  width: 393px;
  height: 266px;
  align-self: center;
}
.pricing8-feature3-title {
  color: #497eff;
  font-size: 30px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
}
.pricing8-feature3-description {
  font-size: 25px;
  align-self: center;
  text-align: center;
  font-family: "Poppins";
}
.pricing8-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.pricing8-action1 {
  color: #ffffff;
}
.pricing8-root-class-name {
  background-color: #ffffff;
}
@media(max-width: 991px) {
  .pricing8-feature1-image {
    height: 260px;
  }
  .pricing8-feature2-image {
    height: 260px;
  }
  .pricing8-feature3-image {
    height: 260px;
  }
}
@media(max-width: 767px) {
  .pricing8-row {
    flex-direction: column;
  }
  .pricing8-feature1-image {
    width: 100%;
  }
  .pricing8-feature2 {
    width: auto;
  }
  .pricing8-feature2-image {
    width: 100%;
  }
  .pricing8-feature3 {
    width: auto;
  }
  .pricing8-actions {
    flex-wrap: wrap;
  }
}
@media(max-width: 479px) {
  .pricing8-actions {
    width: 100%;
    flex-direction: column;
  }
  .pricing8-button {
    width: 100%;
  }
}
